.App {
  text-align: center;
  background-color: rgb(220, 233, 232);
  width: 100vw;
  height: 100vh;
}

.header{
  display: flex;
  flex-direction: row;
  background-color: #00409aa8;
  box-shadow: rgba(0, 0, 0, 0.1) 0vw 20vw 25vw -5vw, rgba(0, 0, 0, 0.04) 0vw 10vw 10vw -5vw;
  padding-bottom: 1vh;
  height: 10vh;
}
.header-home-button{
  position: absolute;
  font-size: 3vw;
  right: 1%;
  top: -3%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.header-home-button:hover{
  background-color: rgba(196, 140, 173, 0.192);

  cursor: pointer;
  border: solid black;
}
.log-out-button{
  position: absolute;
  top: 1.5%;
  left: 3%;
  width: 5vw;
  height: 8vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50vw 100vw -20vw, rgba(0, 0, 0, 0.3) 0vw 30vw 60vw -30vw, rgba(10, 37, 64, 0.35) 0vw -0.2vw 0.6vw 0vw inset;
  border-top-left-radius: 2vw;
  color: white;
  font-size: 1.3vw;
  background-color: rgba(255, 49, 42, 0.884);

}
.log-out-button:hover{
  cursor: pointer;
  background-color: rgba(196, 140, 173, 0.192);
}
.search-tag{
  color: white;
  margin-left: 40%;
  font-size: 2.5vw;
  margin-top: 1.5vh;
  
}
.search-bar{
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 2vh;
  margin-left: 5vw;
}
.search-redirection{
  height: 66%;
  background-color: rgba(116, 112, 173, 0.76);
  border: 0;
  width: 3vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0vw 20vw 25vw -5vw, rgba(0, 0, 0, 0.04) 0vw 10vw 10vw -5vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0vw 5vw 10vw -2vw, rgba(0, 0, 0, 0.3) 0vw 3vw 6vw -3vw, rgba(10, 37, 64, 0.35) 0vw -0.2vw 0.6vw 0vw inset;
  font-size: 1.2vw;
}
.search-redirection:hover{
  background-color: rgba(237, 100, 230, 0.363);
  cursor: pointer;
}
.search-box{
  padding-left: 1vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0vw 5vw 10vw -2vw, rgba(0, 0, 0, 0.3) 0vw 3vw 6vw -3vw, rgba(10, 37, 64, 0.35) 0vw -0.2vw 0.6vw 0vw inset;
  width: 20vw;
  height: 60%;
  padding: 0 auto;
  font-size: 1.5vw;
}
.search-box:hover{
  cursor: default;
}
.search-query{
  font-size: 1vw;
  height: 66%;
}

.login-window{
  width: 75vw;
  height: 75vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0vw -2.3vw 2.5vw 0vw inset, rgba(0, 0, 0, 0.15) 0vw -3.6vw 3vw 0vw inset, rgba(0, 0, 0, 0.1) 0vw -7.9vw 4vw 0vw inset, rgba(0, 0, 0, 0.06) 0vw 2vw 1vw, rgba(0, 0, 0, 0.09) 0vw 0.4vw 0.2vw, rgba(0, 0, 0, 0.09) 0vw 0.8vw 0.4vw, rgba(0, 0, 0, 0.09) 0vw 1.6vw 0.8vw, rgba(0, 0, 0, 0.09) 0vw 3.2vw 1.6vw;  background-color: rgba(70, 144, 234, 0.733);
  margin-left: 12.5vw;
  margin-top: 7vh;
  border-radius: 20vw;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: absolute;
}
.body{
  box-shadow: rgba(17, 17, 26, 0.1) 0vw 4vw 16vw, rgba(17, 17, 26, 0.1) 0vw 8vw 24vw, rgba(17, 17, 26, 0.1) 0vw 16vw 56vw;
  background-color: #78c0ff4b;
  height: 89vh;
  width: 100vw;
  display: block;
  position: absolute;
}

.login-input{
  width: 25vw;
  height: 5vh;
  font-size: 1.5vw;
  padding-left: 1vw;
  border-radius: 1vw;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.login-duo{
  font-size: 1.5vw;
}
.login-input:hover{
cursor: default;
}
.login-input:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 0.842);
}
.login-form{
  display: block;
  position: absolute;
  left: 33%;
  top: 12%;
  padding: 1vw;
  background-color: rgba(122, 99, 153, 0.034);
  border-radius: 2vw;
}
.login-form:hover{
  background-color: rgba(122, 99, 153, 0.233);

}
.login-button{
  width: 5vw;
  height: 5vh;
  font-size: 1vw;
  margin-left: 40%;
  margin-top: 2%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.login-button:hover{
  background-color: beige;
  cursor: pointer;
}

.react-response {
  font-size: 1.5vw;
  margin-left: 40%;
  display: block;
  position: absolute;
  margin-top: 2%;
  color: rgba(255, 255, 255, 0.712);
  background-color: rgb(0, 0, 0);
}
.react-response:hover {
  background-color: white;
  color: black;
  cursor: none;
}
.other-choice, .other-choice2{
  font-size: 3vw;
  left: 48.5%;
  position: absolute;
  top: 50%;
  color: rgb(49, 43, 43);
}
.other-choice:hover{
  cursor: default;
}
.other-choice-cover, .other-choice-cover2{
  background-color: rgba(255, 255, 255, 0);
  width: 10vw;
  height: 10vh;
  left: 45%;
  position: absolute;
  top: 53%;
}
.register-redirection{
  padding: 1vw;
  background-color: rgba(122, 99, 153, 0.068);

  font-size: 1.5vw;
  color: rgb(49, 43, 43);
  left: 43%;
  position: absolute;
  top: 70%;
  border-radius: 1vw;
  text-decoration: none;
}
.register-redirection:hover{
  background-color: rgba(122, 99, 153, 0.233);
}
/*--------------------------------------------------------------------HOME PAGE-----------------------------*/
.intro-info{
  color: rgb(49, 43, 43);
  width: 50%;
  position: relative;
  top: 5%;
  left: 30%;
  font-size: 2vw;
}

.split-screen{
  width: 5vw;
  height: 5vh;
  position: relative;
  top: 8%;
  left: 12.5%;
  width: 75%;
  height: 60%;
  background-color: rgba(122, 99, 153, 0.068);

  border-radius: 10vw;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.first-split, .second-split{
  background-color: rgba(122, 99, 153, 0.068);
  width: 100%;
  height: 98%;
  margin-top: 0.4%;
}

.first-split{
  border-top-left-radius: 10vw;
  border-bottom-left-radius: 10vw;
  margin-right: 1vw;
  border-right: solid black;

}
.second-split{
  border-left: solid black;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
}

/*-------------------------------------------------------------------HOME----------------------------------*/
.parent-button1, .parent-button2{
  border: none;
  width: 4vw;
  height: 4vh;
  background-color: aqua;
}
.parent-button1:hover, .parent-button2:hover{
  cursor: pointer;
  background-color: #ccc;
}
.parent-button1:checked, .parent-button2:checked {
  background-color: #2196F3;
}
.parent-section1, .parent-section2{
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
  margin-bottom: 1vh;
}
.parent-button-text1, .parent-button-text2{
  font-size: 1.5vw;
}
.parent-choice1, .parent-choice2 {
  height: 4vh;
  margin-top: 1vh;
  margin-left: 6vw;
  width: 20vw;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  font-size: 1.2vw;
}
.warehouse-list{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow-y: auto;
  width: 20vw;
  margin-left: 3.9vw;
  height: 22vh;
  border-top-left-radius: 0;
  border-bottom-left-radius: 15vw;
  padding-left: 2vw;
}
.warehouse-text{
  font-size: 1.2vw;
  margin-left: 1vw;

}
.warehouse-text1{
  font-size: 1.2vw;
  margin-left: 1vw;

}
.address-list-name{
  margin-left: 7vw;
  font-size: 1.2vw;
}

.other-choice1{
  font-size: 3vw;
  left: 68.5%;
  position: absolute;
  top: 30%;
  color: rgb(49, 43, 43);
}
.other-choice-cover1{
  background-color: rgba(255, 255, 255, 0);
  width: 10vw;
  height: 10vh;
  left: 65%;
  position: absolute;
  top: 40%;
}

.home-login-redirect, .home-register-redirect, .reg-login-redirect, .reg-button{
  padding: 1vw;
  background-color: rgba(122, 99, 153, 0.068);

  font-size: 2.5vw;
  color: rgb(49, 43, 43);
  left: 65%;
  position: absolute;
  top: 13%;
  border-radius: 1vw;
  text-decoration: none;
}
.home-login-redirect:hover, .home-register-redirect:hover, .reg-login-redirect:hover, .reg-button:hover{
  background-color: rgba(122, 99, 153, 0.233);
  cursor: pointer;
}

.home-register-redirect{
  top: 63%;
  left: 63%;
}

/*---------------------------------------------------------------REGISTER -----------------------------------------*/

.address-choice{
  height: 4vh;
  margin-top: 1vh;
  border:solid 0.001vw;
  width: 19.7vw;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  font-size: 1.2vw;
}

.reg-box{
  width: fit-content;
  height: fit-content;
  font-size: 1.5vw;
  margin: 1vw;
}
.reg-input{
  height: 5vh;
  width: 17vw;
  font-size: 1.5vw;
  border: none;
  border-radius: 1vw;
  padding-left: 1vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.reg-input:hover{
  cursor: default;
}
.reg-input:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 0.753);
}
.form-elements{
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex-wrap: wrap;
  height: 50vh;
}
.form-parent{
  top: 20%;
  border-radius: 3vw;
  left: 10%;
  height: 43vh;
  position: relative;
  flex-wrap: wrap;
  width: 41vw;
  background-color: rgba(122, 99, 153, 0.11);

}
.address-section2{
  position: absolute;
  top: 30%;
  left: 66%;
  background-color: rgba(122, 99, 153, 0.144);

  padding: 2%;
  
  border-radius: 2vw;
}
.form-parent:hover, .address-section2:hover{
  background-color: rgba(122, 99, 153, 0.233);

}
.parent-section2{
  margin-left: 0;
}
.parent-choice2{
  margin-left: 0;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.parent-choice2:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 0.678);

}
.register-label{
  font-size: 3vw;
  position: absolute;
  left: 43.5%;
}
.reg-login-redirect{
  margin: 0%;
  position: absolute;
  top: 70%;
  left: 60%;
  border: none;
}

.reg-button{
  margin: 0%;
  position: absolute;
  top: 70%;
  left: 30%;
  border: none;
}

.other-choice2{
  top: 65%;
  left: 50%;
}
.other-choice-cover2{
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
  top: 70%;
  left: 46%;
}

.reg-response, .search-response{
  background-color: rgb(0, 0, 0);
  top: -10%;
  left: 3%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1vw;
  color: white;
  position: absolute;

}
.tooltiptext{
  font-size: 2vw;
  z-index: 50;
  position: absolute;
  background-color: black;
  color: white;
  top: -8%;
  left: 15%;
}
/*-----------------------------------------------------------------SEARCH--------------------------*/
.search-response{
top: 10%;
left: 32%;
font-size: 3vw;
z-index: 10;
}

.delete-profile-button{
  color: red;
  width: fit-content;
  position: absolute;
  right: 12%;
  z-index: 10;
  top: 4%;
  font-size: 3vw;
}
.delete-profile-button:hover{
  cursor: pointer;
  border: solid gray;
}
.user-profile{
  width: 80vw;
  background-color: white;
  height: 80vh;
  top: 5%;
  left: 10%;
  position: absolute;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.1) 0vw 20vw 25vw -5vw, rgba(0, 0, 0, 0.04) 0vw 10vw 10vw -5vw;

}
.profile-first-column, .profile-second-column, .profile-third-column{
  width: fit-content;
  margin-left: 30vw;
  position: fixed;

}
.profile-second-column{
  left: -3%;
  top: 20%;
  background-color: rgba(0, 128, 128, 0.151);
  padding-left: 1vw;
  padding-right: 1vw;
}
.profile-first-column{
  left: -16%;
  top: 20%;
  width: 14vw;
  height: 14vw;
}
.profile-pic{
  width: 8vw;
  height: 8vw;
}
.profile-third-column{
  width: 20vw;
  top: 20%;
  left: 30%;
}
/*-------------------------------------------------------------------------------------PARCELS------------------------------*/

.parcels1, .parcels2{
  position: absolute;
  z-index: 10;
  top: 65%;
  left: 10.5%;
  height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.parcels2{
  height: 80vh;
  top: 20%;
  overflow-y: auto;

}
.singleParcel1, .singleParcel2{
  background-color: #2195f35b;
  width: 78.1vw;
  z-index: 10;
  padding: 1%;
  margin: 0.1vw;
  font-size: 1vw;
  flex-direction: row;
  display: flex;
}
.singleParcel1:hover, .singleParcel2:hover{
  background-color: #2195f327;
}

.first-row1, .second-row1, .first-row2, .second-row2{
  display: flex;
  margin-top: -2.8vw;
  margin-bottom: 0;
}

.two-rows1, .two-rows2{
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.parcel-buttons1, .parcel-buttons2{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2%;
}
.single-parcel-delete1{
  position: absolute;
  left: -50%;
  top: 55%;
}

.parcel-buttons2{
  right: 7%;
}
.single-parcel-button1, .single-parcel-button2{
  border-radius: 2vw;
  border: none;
  height: 3vw;
}
.single-parcel-update1, .single-parcel-update2{
  margin: 0;
  margin-top: 9%;
  right: -10%;
  text-align: center;
  font-size: 2.5vw;
}
.single-parcel-delete1, .single-parcel-delete2{
font-size: 2.3vw;
}

.single-parcel-delete1:hover, .single-parcel-delete2:hover{
  cursor: pointer;
  color: white;
  background-color: crimson;
}
.single-parcel-update1:hover, .single-parcel-button1:hover, .single-parcel-update2:hover, .single-parcel-button2:hover{
  cursor: pointer;
  color: white;
  background-color: crimson;
}

.parcel-type1, .parcel-category1, .parcel-status1, .parcel-weight1, .parcel-origin1, .parcel-destination1, .parcel-names1{
  width: 8vw;
  padding-left: 0.5vw;
  border: solid rgba(0, 0, 255, 0.11);

  margin-right: -0.15vw;
}


.parcel-type2, .parcel-category2, .parcel-status2, .parcel-weight2, .parcel-origin2, .parcel-destination2, .parcel-names2{
  width: 8vw;
  padding-left: 0.5vw;
  border: solid rgba(0, 0, 255, 0.11);
  margin-right: -0.15vw;
}

/*-------------------------------------------------------SINGLE PARCEL VIEW ------------------------------------- */
.two-rows4 h4{
  border: solid rgba(128, 128, 128, 0.13);
  margin-top: -1.8vw;
  padding-left: 0.5vw;
  font-size: 1.15vw;
  width: 12vw;
  height: 12vh;
}
.first-row4, .second-row4{
  display: flex;
  flex-direction: row;
}
.two-rows4{
  height: 100%;

  left: 4.5%;
  position: absolute;
  top: 20%;
  flex-direction: row;
}

.singleParcel4{
  width: 100vw;
  height: 70vh;
  z-index: -1;
  top: 11%;
  background-color: #3b61832d;

  position: absolute;
  margin: 0;
  
}
.parcel-buttons4 a{
  font-size: 2vw;
}
.single-parcel-button4{
border-radius: 1vw;
position: absolute;
left: -300%;
width: 15vw;
height: 5vh;
font-size: 2,5vw;
}
.single-parcel-button4:hover{
  background-color: khaki;
  cursor: pointer;
  }
.parcel-buttons4 a:hover{
  font-size: 2.1vw;
  cursor: pointer;
}

.parcel-buttons4{
  position: absolute;
  top: 54%;
  left: 53%;
}

h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*--------------------------------------------------------------- MENU BUTTONS------------------------------*/
.menu-buttons button{
  padding: 1vw;
  background-color: rgba(122, 99, 153, 0.068);

  font-size: 1.5vw;
  color: rgb(49, 43, 43);
  left: 40%;
  position: absolute;
  border-radius: 1vw;
  text-decoration: none;
}
.view-existing-parcels-redirection{
  position: absolute;
  top: 40%;
}
.parcel-create-redirection{
  position: absolute;
  top: 60%;
}
.menu-buttons button:hover{
  background-color: rgba(122, 99, 153, 0.233);
  cursor: pointer;
}