
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: Manga-Titles;
  src: url(/src/fonts/1083-font.ttf);
}
@keyframes zoomAppearing {
  0% {
      transform: scale(0.1);
  }
  100% {
      transform: scale(1.0);
  }
}
@keyframes opacityAppearing {
  0% {
    opacity: 0;
  }
95%{
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes textAppearing {
  0% {
      color: transparent;
  }
  95%{
    color: transparent;
  }
  100% {
      color: var(--very-dark-blue);
  }
}

@keyframes tableLoad {
  0% {
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes loadElementFromLeft {
  0% {
    transform: translateX(-160%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes loadGalleryPresentation {
  0% {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes loadAboutPresentation {
  0% {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes rotateAngle {
	0% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	25% {
		transform: rotateY(20deg) rotateX(10deg);
	}
	50% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	75% {
		transform: rotateY(-20deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(10deg);
	}
}

@keyframes translateWobble {
  0% {
		opacity: 0;
		transform: translate3d(
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px)
		);
  }
  16% {
		transform: translate3d(
			calc(var(--z) * 11vh), 
			calc(var(--z) * 11vh), 
			calc(var(--z) * 11vh)
		);
  }
  28% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 7vh), 
			calc(var(--z) * 7vh), 
			calc(var(--z) * 7vh)
		);
  }
  44% {
		transform: translate3d(
			calc(var(--z) * 13vh), 
			calc(var(--z) * 13vh), 
			calc(var(--z) * 13vh)
		);
  }
  59% {
		transform: translate3d(
			calc(var(--z) * 15vh), 
			calc(var(--z) * 15vh), 
			calc(var(--z) * 15vh)
		);
  }
  73% {
		transform: translate3d(
			calc(var(--z) * 20vh), 
			calc(var(--z) * 20vh), 
			calc(var(--z) * 20vh)
		);
  }
	88% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 9vh), 
			calc(var(--z) * 9vh), 
			calc(var(--z) * 9vh)
		);
  }
  100% {
		opacity: 1;
		transform: translate3d(
			calc(var(--z) * 100px), 
			calc(var(--z) * 100px), 
			calc(var(--z) * 100px)
		);
  }
}
@keyframes disappearingInstr {
  0% {
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
:root{
  --z: 0px;
  --gray:#363b44;
  --very-dark-blue:#081B26;
  --light-blue-semi:#acdef2a2;
  --light-blue:#ACDEF2;
  --light-blue-2:#3DADD9;
  --dark-blue:#0F3D59;
  --teal-blue:#1C6C8C;
  --teal-blue-semi:#1c6c8c9c;
  --turquoise: #94D2BD;
  --turquoise-semi:  #94d2bda8;
  --white: rgba(255, 255, 255, 0.726);
  --white-semi: rgba(255, 255, 255, 0.685);
  --white-sem2i:rgba(255, 255, 255, 0.377);
  --yellow: #E9D8A6;
  --yellow-semi:  #e9d8a6a9;
  --gradient: linear-gradient(65deg, #d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
  /*
 
  --z: 0px;
  --gray:#363b44;
  --very-dark-blue:#081B26;
  --light-blue-semi:#acdef2bd;
  --light-blue:#94D2BD;
  --light-blue-2:#3DADD9;
  --dark-blue:#0F3D59;
  --teal-blue:#005F73;
  --teal-blue-semi:#0A9396;
  --white: rgba(255, 255, 255, 0.726);
  --white-semi: rgba(255, 255, 255, 0.363);
  --yellow: #E9D8A6;
  --orange: #EE9B00;
  --dark-orange: #CA6702;
  --reddish-orange: #BB3E03;
  --red: #AE2012;
  --brown: #9B2226;
  --gradient: linear-gradient(65deg, #d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
   */
}
/*-------------------------------------------------------------=HOMEPAGE-----------------------------------*/
.home-screen{
  width: 100vw;
  height: 100vh;
  background-color:var(--light-blue-2);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.home-screen div{
  position: relative;
  top: 35%;
  height: 55vh;
}
.gallery-presentation{
  width: 42vw;
  left: 3%;
  background-color: var(--teal-blue-semi);
  border-radius: 5vw 1vw 1vw 5vw;
  animation: 1.3s cubic-bezier(0.68, -0.6, 0.32, 1.5) 0s 1 loadGalleryPresentation;
}

.welcome-title{
  font-family: Alt;
  position: absolute;
  left: 25%;
  top: 5%;
  font-size: 3vw;
}
.welcome-title2{
  font-family: Alt;
  position: absolute;
  left: 23%;
  top: 5%;
  font-size: 3vw;
}
.change-framework{
  position: fixed;
  left: 34%;
  top: 15%;
  font-size: 2vw;
  color: var(--very-dark-blue);
}
.framework-redirect{
  text-decoration: none;
  color: var(--very-dark-blue);
}
.framework-redirect:hover{
  color: var(--white);
}
.change-framework2{
  font-size: 2vw;
  position: fixed;
  left: 34%;
  top: 15%;
}
.gallery-presentation-title{
  position: fixed;
  top: 33%;
  left: 20%;
  font-size: 3.5vw;
  animation: 1.5s ease-in 0s 1 textAppearing;

}
.gallery-presentation-intro{
  position: fixed;
  top: 43%;
  left: 8.5%;
  width: 25vw;
  font-size: 2.5vw;
  border-width: 2%;
  padding: 0.8% 3%;
  animation: 1.6s ease-in 0s 1 textAppearing;

}
.about-me-name{
  animation: 1.7s ease-in 0s 1 textAppearing;

  position: fixed;
  top: 33%;
  left: 65%;
  font-size: 3.5vw;
}
.about-me{
  animation: 1.8s ease-in 0s 1 textAppearing;

  position: fixed;
  top: 45%;
  left: 60%;
  width: 25VW;
  font-size: 1.8vw;
}
.about-me2{
  animation: 1.9s ease-in 0s 1 textAppearing;

  position: fixed;
  top: 63%;
  left: 60%;
  width: 25VW;
  font-size: 1.8vw;
}
.about-me-pic{
  animation: 1.9s ease-in 0s 1 opacityAppearing;

  position: fixed;
  top: 40%;
  left: 86%;
  border-radius: 1vw;
  width: 10vw;
  height: 25vh;
}
.gallery-presentation:hover{
  background-color: var(--teal-blue);
  color: var(--white);
}
.gallery-redirect{
  animation: 1.7s ease-in 0s 1 textAppearing;

  color: var(--white)
}
#gallery-redirect-link:hover{
  color: var(--white);
}
.gallery-presentation:hover .gallery-redirect{
  color: var(--very-dark-blue);
}
#logos1{
  width: 7vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #363b44d3;
  position:relative;
  top: 2%;
  left: 3%;
  padding: 1.5%;
  border-radius: 1vw;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
}
.about-presentation{
  animation: 1.3s cubic-bezier(0.68, -0.6, 0.32, 1.5) 0s 1 loadAboutPresentation;
  width: 50vw;
  left: 7%;
  background-color: var(--teal-blue-semi);
  border-radius: 1vw 5vw 5vw 1vw;
}
.about-presentation:hover{
  color: var(--white);
  background-color: var(--teal-blue);

}
.about-presentation:hover .about-invite-link{
  color: var(--very-dark-blue);
}
.about-invite{
  animation: 2s ease-in 0s 1 textAppearing;
  position: fixed;
  top: 78%;
  left: 60%;
  width: 35VW;
  font-size: 1.8vw;
}
.about-invite-link{
  animation: 2s ease-in 0s 1 textAppearing;

  color: var(--white);
}
#link-to-about:hover{
  color: var(--white);
}
/*--------------------------------------------------------------HEADER -------------------------------------*/
.header{
  user-select: none;
  background-color: var(--light-blue);
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 4;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5vw 10vh -2vw, rgba(0, 0, 0, 0.3) 0 3vw 6vh -3vw, rgba(10, 37, 64, 0.35) 0px -0.2vw .6vh 0 inset;
  color: var(--very-dark-blue);
}

.animations-redirect{
  width: auto;
  font-size: 3vw;
  word-wrap:normal;
  padding: 0;
  padding-bottom: 1vh;
  border-bottom: black;
  border-width: 0.2vw;
  border-style: solid;
  top: 15%;
  position: relative;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: black;
}
.gallery-content{
  user-select: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: max-content;
  padding: 0;
  margin: 0%;
  font-size: 3vw;
  position: relative;
  top: 15%;
  left: 40%;
  text-decoration: none;
  color: var(--very-dark-blue);
}
.gallery-about-redirect{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: max-content;
  padding: 0;
  margin: 0%;
  font-size: 3vw;
  position: relative;
  top: 15%;
  left: 40%;
  text-decoration: none;
  color: var(--very-dark-blue);
}
#bg, #eng{
  font-family: Alt; 
}
#label-font:hover{
  color: var(--teal-blue-semi);
}
.header-choices{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  margin-left: 2vw;
}
.header-choices2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75vw;
  margin-left: 2vw;
}
/*---------------------------------------------------------------ABOUT ----------------------------------*/
#pdf-button{
  width: 12vw;
  height: 10vh;
  position: absolute;
  right: 5%;
  top: 80%;
  font-family: Alt;
  font-size: 2vw;
  background-color: var(--light-blue);
  border: 0.2vw;
  border-color: var(--white);
  border-style: solid;
  word-wrap: break-word; 
  padding: 0% 2% 2% 2%;
  border-radius: 1.5vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10vw 20vh -4vw, rgba(0, 0, 0, 0.3) 0 6vw 12vh -6vw, rgba(10, 37, 64, 0.35) 0px -0.4vw 1.2vh 0 inset;
  animation: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 loadAboutPresentation;
  cursor: pointer;
  z-index: 10;
  display: block;
}
#pdf-button:hover{
  cursor: pointer;
  background-color: var(--teal-blue);
}
.pdf-button:hover{
  cursor: pointer;
  background-color: var(--teal-blue);
}
.screen{
  background-color: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}
.scrollable::-webkit-scrollbar{
  width: 1vw;
}
.scrollable::-webkit-scrollbar-track{
  border-radius: 1vw;
  background:var(--teal-blue);
}
.scrollable::-webkit-scrollbar-thumb{
  width: 0.8vw;
  height: 10vh;
  background: var(--light-blue);
  z-index: 5;
  border-radius: 1vw 0 0 1vw;
}
.scrollable::-webkit-scrollbar-thumb:hover{
  background-color: var(--light-blue-2);
}
#portfolio{
  top: 10%;
  position: relative;
  height: 84vh;
}

table tr{
  height: 15vh;
  font-size: 1.5vw;
}
td.content{
  width: 45vw;
  height: fit-content;
}
td{
  
  color: var(--white);
  background-color: var(--gray);
  padding: 3%;
  transition: 260ms ease-in;
  border-color: var(--gray);
  border-radius: 1vw;
  border-style: solid;
}
td:hover{
  border-radius: 1vw;
  border-image:  var(--gradient) 1;
  border-style: solid;
  border-width: 0.5vw;
  cursor: default;
}
td::after{
  border-image: transparent;
  border-radius: 1vw;
}
#table-indentifier{
  text-align: center;
  background-color: var(--light-blue-semi);
  border-color: var(--dark-blue);
}
#information-row{
  font-size: 1.8vw;
  height: 5vh;
}
.zero-width{
  display: none;
}
table{
  animation: 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 tableLoad;
  position: absolute;
  padding: 1%;
  top: 10%;
  left: 15%;
  height: inherit;
  width: 65vw;
  display: block;
  overflow: scroll;
  background-color: var(--very-dark-blue);
  border-radius: 1vw;
}
td.description{
  text-align: center;
}

#logos{
  width: 7vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #363b44d3;
  position:relative;
  top: -50%;
  left: 3%;
  padding: 1.5%;
  border-radius: 1vw;
  overflow-y: auto;
  overflow-x: hidden;
  animation: 2.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 loadElementFromLeft;
  z-index: 10;
}

#exp-logo{
  z-index: 10;
  display: block;
	position: relative;
  cursor: pointer;
  width: 6vw;
  height: 6vw;
} 
.exp-logo {
	display: block;
	position: relative;
  margin-bottom: 2vh;
  padding: 0.5vh 0.2vw;

	cursor: pointer;

	border: none;
	border-radius: .2vw;


	mix-blend-mode: color-dodge;
	/* perspective: 25vw; */
	/* transform-style: preserve-3d; */

}
.exp-logo::before, .exp-logo::after {
		--z: 1vw;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		opacity: 0;
		/* mix-blend-mode: inherit; */
		border-radius: inherit;
		/* transform-style: preserve-3d; */
		/* transform: translate3d(
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px), 
			calc(var(--z) * 0px)
		); */
	}

  #exp-logo1{
    z-index: 10;
    display: block;
    position: relative;
    cursor: pointer;
    width: 6vw;
    height: 6vw;
  } 
  .exp-logo1 {
    display: block;
    position: relative;
    margin-bottom: 2vh;
    padding: 0.5vh 0.2vw;
  
    cursor: pointer;
  
    border: none;
    border-radius: .2vw;
  
  
    mix-blend-mode: color-dodge;
    /* perspective: 25vw; */
    /* transform-style: preserve-3d; */
  
  }
  .exp-logo1::before, .exp-logo1::after {
      --z: 0.5vw;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      /* mix-blend-mode: inherit; */
      border-radius: inherit;
      /* transform-style: preserve-3d; */
      /* transform: translate3d(
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px)
      ); */
    }
  
    
	.back-button{
    display: block;
    animation: 2s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 loadElementFromLeft;
    z-index: 5;
    text-decoration: none;
    color: var(--white);
    position: absolute;
    left: 5%;
    font-size: 4vw;
    top: 10%;
    padding: 0%;
    text-align: center;
  }
  .back-button::before{
    content: "";
    left: -100%;
    color: yellowgreen;
  }
  .back-button:hover{
    cursor: pointer;
    color: yellowgreen;
  }
	.exp-logo::after {
		background-color: #ff1732c4;
	}
	
	.exp-logo::before {
		background-color: #2600ffc0;

	}
	
	.exp-logo:hover {
		background-color: #66cc7ca6;
		transition: background .3s 0.1s;
	}
	
	.exp-logo:hover:before {
		--z: 0.04;
		animation: translateWobble 2.2s ease forwards;
	}
	
	.exp-logo:hover:after {
		--z: -0.06;
		animation: translateWobble 2.2s ease forwards;
	}


  .exp-logo1::after {
		background-color: #ff173298;
	}
	
	.exp-logo1::before {
		background-color: #2600ff6c;

	}
	
	.exp-logo1:hover {
		background-color: #66cc7c;
		transition: background .3s 0.1s;
    z-index: 4;
		animation: translateWobble 2.2s ease forwards;
	}
	
	.exp-logo1:hover:before {
		--z: 0.1;
		animation: translateWobble 2.2s ease forwards;
	}
	
	.exp-logo1:hover:after {
		--z: -0.09;
		animation: translateWobble 2.2s ease forwards;
	}


.language-changer{
  z-index: 7;
  height: 10vh;
  width: 6vw;
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 1.4vw;
  border-radius: 0 1vw 0 1vw;
  border: solid 4px transparent;
  border-width: 0.3vw;
  background-image: var(--gradient);
  background-origin: border-box;
  background-clip: border-box;
  transition: all 150ms ease-in-out;
  animation: 0.5s ease 0s 1 zoomAppearing;
}
.language-change-content{
  top: -22%;
  left: 0%;
  border-radius: 0 1vw 0 1vw;
  padding: 2vh 0;
  border: transparent;
  position: relative;
  background-color: var(--gray);
  
  color: var(--white);
}
.language-changer:hover{
  transform: scale(1.2);
  background-color: #282c3425;
  cursor: pointer;
  background-image:linear-gradient(45deg, #d367c1 10%,#dedf40 25%,#62cb5c 50%,#00bbcb 75%,#ab79d6 90%);
}
.language-changer:hover .language-change-content{
  top: -22%;
  left: 0%;
  border-radius: 0 1vw 0 1vw;
  padding: 2vh 0;
  position: relative;
}
.certificate-link{
  color: var(--white-semi);
}
.certificate-link:hover{
  color: greenyellow;
}

/*---------------------------------------------------------------------GALLERY VIEW -----------------------------------*/
.gallery-screen{
  background-color: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  user-select: none;
  z-index: 5;
}

.gallery-search-browser{
  width: 94vw;
  height: 79vh;
  position: fixed;
  top: 18%;
  left: 3%;
  background-color: var(--teal-blue);
  border: var(--white-semi) solid;
  border-width: 0.1vw;
  border-radius: 2vw;
  z-index: 5;
}
.toggle-favorites{
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 7;
  width: fit-content;
  height: min-content;
  font-size: 2.5vw;
  font-family: Alt;
  background-color: var(--white);
  padding: 0.6%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px .2vw .4vh 0, rgba(14, 30, 37, 0.32) 0px .2vw 1.6vh 0px inset;
  border: none;
  border-radius: 2vw;
}
.toggle-favorites:hover{
  cursor: pointer;
  background-color: var(--white-sem2i);
}
.toggle-favorites:active{
  cursor: wait;
  background-color: var(--dark-blue);
}
.gallery-browser-header{
  z-index: 5;
  width: 100%;
  height: 18%;
  border-radius: 2vw 2vw 0 0;
  background-color: var(--dark-blue);
  box-shadow: rgba(0, 0, 0, 0.12) 0px .2vw .4vh 0, rgba(14, 30, 37, 0.32) 0px .2vw 1.6vh 0px inset;
}

.gallery-button-choices{
  width: 70vw;
  height: 13.3vh;
  position: relative;
  left: 12%;
  display: flex;
  flex-direction: row;
  top: 0%;
  padding: 0.3% 1% 0% 1% ;
}
.gallery-link{
  border: none;
  border-radius: 5%;
  font-size: 2vw;
  color: var(--white-semi);
  text-decoration: none;
  background-color: var(--light-blue-semi);
  padding: 1%;
  height: 12.5vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px .2vw .4vh 0, rgba(14, 30, 37, 0.32) 0px .2vw 1.6vh 0px inset;
  font-family: Alt;
  font-size: 2.5vw;
}
.gallery-link:hover{
  cursor: pointer;
  background-color: var(--turquoise);

}
.gallery-link:active{
  cursor: wait;
  background-color: var(--gray);
}
.option-1, .option-2{
  position: relative;
  left: 90%;
  top: -80%;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  color: var(--white);
}

.option-2{
  left: 89%;
}
#ascending, #descending{
  font-size: 5vw;
  width: 2.5vw;
  height: 2.5vh;
}
#ascending:hover, #descending:hover{
  cursor: pointer;
}
.radio-label{
  position: relative;
  left: -0.3%;
}
.radio-label2{
  position: relative;
  left: -1.2%;
}
.radio-label:hover, .radio-label2:hover{
  cursor: pointer;
}

.gallery-category-incline{
  font-size: 4vw;
  position: absolute;
  left: 11%;
  top: 25%;
  width: 70vw;
  text-align: center;
  color: var(--white-semi);
  animation: 0.3s ease-in 0s 1 textAppearing;
}
.current-page-placeholder{
  background-color: transparent;
  width: 2vw;
  height: 4vh;
  position: absolute;
  left: -3.5%;
  top: -0%;
  z-index: 6;
}
.current-page-count{
  user-select: none;
  position: relative;
  top: -122%;
  left: 0;
  border-radius: 5vw 5vw 0vw 0;
  background-color: var(--white);
  width: fit-content;
  padding: 0.3vw 0.3vw 0vw 0.3vw;
  max-width: 4.5vw;
  max-height: 5.3vh;
  font-size: 3vw;
  text-align: center;
}
.pagination{
  width: 30vw;
  height: 5vh;
  position: absolute;
  top: 105%;
  left: 50%;
}
.previous-pages-group{
  position: relative;
  top: 30.8%;
  left: -107%;
  height: 4.5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Alt;
  font-size: 2vw;
}
.first-page-button{
  align-self: flex-end;
  background-color: var(--turquoise);
}
#page-button{
  user-select: none;
  border: none;
  min-width: 2.5vw;
  height: 4.5vh;
  font-family: Alt;
  font-size: 2.5vw;
  background-color: var(--white);
  margin-right: 2%;
  border-radius: 0.2vw;
  position: relative;
  right: 0%;
}
#page-button1{
  user-select: none;
  border: none;
  min-width: 2.5vw;
  height: 4.5vh;
  font-family: Alt;
  font-size: 2.5vw;
  background-color: var(--white);
  margin-right: 6%;
  border-radius: 0.2vw;
}

#page-button1:hover{
  cursor: pointer;
  background-color: greenyellow;
}

#page-button:hover{
  cursor: pointer;
  background-color: greenyellow;
}
#page-button:active, #page-button1:active{
  cursor: wait;
  background-color: rgba(116, 170, 36, 0.664);
}
.distance-between-buttons{
  user-select: none;
  color: var(--very-dark-blue);
  position:relative;
  top: -120%;
  left: 2%;
  margin-right: 5%;
}
.distance-between-buttons1{
  user-select: none;
  color: var(--very-dark-blue);
  position:relative;
  top: -120%;
  left: 2%;
  margin-right: 5%;
}
.next-pages-group{
  position: absolute;
  top: 28%;
  left: 10%;
  height: 4.5vh;
  display: flex;
  flex-direction: row;
  font-family: Alt;
  font-size: 2vw;
}
.secondary-previous-page-buttons{
  margin: 0 2%;
  align-self: flex-end;
}
/*-------------------------------------------------------------------------------GALLERY -LOADING CONTENT ----------------------------------*/
.gallery-browser-body{
  width: 90vw;
  height: 27vw;
  position: relative;
  left: 2%;
  top: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 8;

}
.favorite-button-placeholder{
  position: relative;
  width: 13vw;
  align-items: center;
  top: -55%;
  text-align: center;
}
.favorite-button{
  width: fit-content;
  font-size: 1.5vw;
  color: var(--white);
  font-family: Alt;
  height: fit-content;
  background-color: transparent;
  border: none;
}
.favorite-button:hover{
  cursor: pointer;
  color: yellowgreen;
}
#inFav{
  left: 20%;
}
/*----------------------------------------------------------------------------VIDEOS CSS --------------------------------------------------*/

.single-video-grid{
  height: 20vh;
  width: 13vw;
  margin: 1% 1% 0% 1%;
}
.video-thumbnail{
  padding: 0.1%;
  background-color: var(--gray);
  width: 13vw;
  height: 20vh;
}
.video-thumbnail:hover{
  cursor: pointer;
  background-color: white;
}
.video-button {
  position: relative;
  left: 35%;
  top: -75%;
  box-sizing: border-box;
  width: 5vw;
  height: 5vw;
  border-style: solid;
  border-width: 2.5vw 0vw 2.5vw 5vw;
  background-color: transparent;
  border-color: transparent transparent transparent #2020208c;
}
.video-button:hover{
  cursor: pointer;
  border-color: transparent transparent transparent var(--white-semi);
}
/*----------------------------------------------------------------------------PICTURE CSS --------------------------------------------------*/

.single-pic-grid{
  height: 25vh;
  width: 13vw;
  margin: 1%;
  text-align: center;
  background-color:var(--very-dark-blue);
  border-width: 0.1vw;
  border-color: transparent;
  border-style: solid;
}
.single-pic-grid:hover{
  cursor: pointer;
  border-color: var(--white);
}
.pic-box{
  text-align: center;
  width: 12.8vw;
  height: 22vh;
  margin-left: 0.5%;
  background-color: var(--white-sem2i);
}
.pic-thumbnail{
  padding: 0.2%;
  background-color: var(--gray);
  max-width: 12.8vw;
  max-height: 22vh;
  margin: 0;
}
.pic-box:hover{
  cursor: zoom-in;
}
.pic-thumbnail-title{
  color: var(--white);
  z-index: 6;
  height: 1vh;
}

.favorite-button-placeholder-pic{
  position: relative;
  width: 13vw;
  text-align: center;
  margin: 0%;
  bottom: 3%;
}
.favorite-button-pic{
  width: fit-content;
  font-size: 1.5vw;
  color: var(--white);
  font-family: Alt;
  background-color: transparent;
  border: none;
  margin: 0%;
}
.favorite-button-pic:hover{
  cursor: pointer;
  color: yellowgreen;
}
/*=========================================================================MANGA CSS ==================================================*/
.single-manga-grid{
  height: 25vh;
  width: 13vw;
  margin: 1%;
  text-align: center;
  background-color:var(--very-dark-blue);
  border-width: 0.1vw;
  border-color: transparent;
  border-style: solid;
  z-index: 1;

}
.manga-box{
  z-index: 1;
  height: 25.2vh;
  width: 13.2vw;
}
.single-manga-grid:hover{
  cursor: pointer;
  border-color: var(--white);
}
.single-manga-grid:hover .manga-box .img-and-popup-store .manga-popup{
  z-index: 8;
}
.single-manga-grid:hover .manga-box .img-and-popup-store{
  z-index: 8;
}
.single-manga-grid:hover .manga-box{
  z-index: 8;
}
.single-manga-grid:hover{
  z-index: 8;
}
.img-and-popup-store{
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.img-and-popup-store:hover .manga-popup{
  display: block;
}
.manga-box{
  text-align: center;
  width: 12.8vw;
  height: 22vh;
  margin-left: 0.5%;
  background-color: var(--white-sem2i);
}
.manga-thumbnail{
  padding: 0.2%;
  background-color: var(--gray);
  max-width: 12.8vw;
  max-height: 22vh;
  margin: 0;
}
.manga-box:hover{
  cursor: zoom-in;
}
.manga-thumbnail-title{
  color: var(--white);
  z-index: 6;
  height: 1vh;
}

.favorite-button-placeholder-manga{
  position: relative;
  width: 13vw;
  text-align: center;
  margin: 0%;
  bottom: 3%;
}
.favorite-button-manga{
  width: fit-content;
  font-size: 1.5vw;
  color: var(--white);
  font-family: Alt;
  background-color: transparent;
  border: none;
  margin: 0%;
}
.favorite-button-manga:hover{
  cursor: pointer;
  color: yellowgreen;
}
.manga-popup{
  z-index: 1;
  width: 0.1vw;
  height: 0.1vh;
  top: -15%;
  margin: 0;
  display: none;
  position: absolute;
}
.popup-information{
  padding: 0.5vw;
  width: fit-content;
  max-width: 15vw ;
  height: fit-content;
  margin-left: 7vw;
  margin-top: 1.5vw;
  background-color: var(--gray);
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
}
.manga-popup-title-placeholder{
  width: 15vw;
  left: 20%;
  align-self: center;
  text-align: center;
  color: var(--white);
}
.manga-popup-title-placeholder .manga-thumbnail-title{
  text-align: center;
}
.manga-popup-description{
  color: var(--white);
}
.manga-popup-title{
  position: relative;
}
/*-------------------------------------------------------------------------DRAWING CSS -----------------------------------------------*/

.single-drawing-grid{
  height: 25vh;
  width: 13vw;
  margin: 1%;
  text-align: center;
  background-color:var(--very-dark-blue);
  border-width: 0.1vw;
  border-color: transparent;
  border-style: solid;
}
.single-drawing-grid:hover{
  cursor: pointer;
  border-color: var(--white);
}
.drawing-box{
  text-align: center;
  width: 12.8vw;
  height: 22vh;
  margin-left: 0.5%;
  background-color: var(--white-sem2i);
}
.drawing-thumbnail{
  padding: 0.2%;
  background-color: var(--gray);
  max-width: 12.8vw;
  max-height: 22vh;
  margin: 0;
}
.drawing-box:hover{
  cursor: zoom-in;
}
.drawing-thumbnail-title{
  color: var(--white);
  z-index: 6;
  height: 1vh;
}

.favorite-button-placeholder-drawing{
  position: relative;
  width: 13vw;
  text-align: center;
  margin: 0%;
  bottom: 3%;
}
.favorite-button-drawing{
  width: fit-content;
  font-size: 1.5vw;
  color: var(--white);
  font-family: Alt;
  background-color: transparent;
  border: none;
  margin: 0%;
}
.favorite-button-drawing:hover{
  cursor: pointer;
  color: yellowgreen;
}
/*-------------------------------------------------------------------------PHOTO CSS -------------------------------------------------*/
.single-photo-grid{
  height: 20vh;
  width: 13vw;
  margin: 1%;
  text-align: center;
  background-color:var(--very-dark-blue);
  border-width: 0.1vw;
  border-color: transparent;
  border-style: solid;
}
.single-photo-grid:hover{
  cursor: pointer;
  border-color: var(--white);
}
.photo-box{
  text-align: center;
  width: 12.8vw;
  height: 15vh;
  margin-left: 0.5%;
  background-color: var(--white-sem2i);
}
.photo-thumbnail{
  padding: 0.2%;
  background-color: var(--gray);
  max-width: 12.8vw;
  max-height: 15vh;
  margin: 0;
}
.photo-box:hover{
  cursor: zoom-in;
}
.photo-thumbnail-title{
  color: var(--white);
  z-index: 6;
  height: 1vh;
}

.favorite-button-placeholder-photo{
  position: relative;
  width: 13vw;
  text-align: center;
  margin: 0%;
  bottom: -4%;
}
.favorite-button-photo{
  width: fit-content;
  font-size: 1.5vw;
  color: var(--white);
  font-family: Alt;
  background-color: transparent;
  border: none;
  margin: 0%;
}
.favorite-button-photo:hover{
  cursor: pointer;
  color: yellowgreen;
}
/*---------------------------------------------------------------------------ZOOOM CSS--------------------------------------------------*/
.zoom-page-layout{
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  z-index: 10;
  text-align: -webkit-center;
  user-select: none;
  
}
.button-response, .button-response1{
  opacity: 1;
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 10;
}
.button-response:focus, .button-response1:focus{
  border: none;
  outline: none;
}
.close-zoom-page1{
  position: absolute;
  right: 3%;
  top: 10%;
  width: 4vw;
  height: 8vh;
  font-family: Alt;
  font-size: 4vw;
  color: var(--white);
  padding: 0;
  border: 0;
  background-color: transparent;
}
.close-zoom-page2{
  position: absolute;
  right: 3%;
  top: 10%;
  width: 4vw;
  height: 8vh;
  font-family: Alt;
  font-size: 4vw;
  color: var(--white);
  padding: 0;
  border: 0;
  background-color: transparent;
}
#zoom-video-close-button1:hover, #zoom-video-close-button2:hover{
  cursor: pointer;
  color: red;
}
.zoom-page-settings-bar-video1{
  right: -28%;
  top: 10%;
  width: 20vw;
  border-radius: 0 0.8vw 0 0;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
}
.zoom-page-settings-bar-video2{
  right: -38%;
  top: 0%;
  width: 20vw;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 9;
}
.zoom-page-settings-bar-video1:hover, .zoom-page-settings-bar-video2:hover{
  background-color: var(--light-blue-semi);
}
.zoom-page-settings-bar-video1:hover .close-zoom-page1, .zoom-page-settings-bar-video1:hover .settings-zoom-page-fullscreen1, .zoom-page-settings-bar-video1:hover .settings-zoom-page{
  color: var(--gray);
}
.settings-zoom-page-fullscreen1{
  width: 4vw;
  height: 8vh;
  top: -10%;
  font-family: Alt;
  font-size: 3vw;
  position: relative;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--white);
  background-color: transparent;

}
.settings-zoom-page-fullscreen2{
  width: 4vw;
  height: 8vh;
  top: -10%;
  font-family: Alt;
  font-size: 3vw;
  position: relative;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--white);
  background-color: transparent;

}
#zoom-video-fullscreen-button1:hover, #zoom-video-fullscreen-button2:hover{
  cursor: pointer;
  color: rgb(37, 40, 199);
}
.settings-zoom-page{
  width: 4vw;
  height: 8vh;
  top: -100%;
  left: 0%;
  font-family: Alt;
  font-size: 3vw;
  position: relative;
  line-height: 1.5;

  margin-right: 1vw;
  padding: 0;
  border: 0;
  color: var(--white);
  background-color: transparent;

}
#zoom-video-cog-button:hover{
  cursor: pointer;
  color: rgb(37, 40, 199);
}

                                /*------------------------------------------------VIDEO-----------------------------------------------*/
.settings-window11{
  position: absolute;
  width: 30vw;
  height: 22vh;
  right: 33%;
  top: 3%;
  background-color: white;
  border-radius: 1vw;
  border-color: rgb(175, 202, 134);
  border-width: 0.4vw;
  border-style: solid;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.settings-window21{
  display: none;
}
.settings-window12{
  z-index: 10;
  top: 10%;
  right: 5%;
  position: absolute;
  width: 30vw;
  height: 22vh;
  background-color: white;
  border-radius: 1vw;
  border-color: rgb(175, 202, 134);
  border-width: 0.4vw;
  border-style: solid;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.settings-window22{
  display: none;
}
.zoom-video-instructions{
  position: absolute;
  left: 0%;
  top: 10%;
  font-size: 2vw;
  background-color: var(--gray);
  color: var(--white);
  animation: 5s ease-in 0s 1 disappearingInstr;
  opacity: 0;
}        
.size-choices{
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh;
  width: 30vw;
  height: 8vh;
  padding: 0.5vh 1vw;
  color: var(--white);
  background-color: transparent;
}
.size-choices:hover{
  color: var(--very-dark-blue);
  background-color: var(--white-semi);
}
.size-choice{
  font-family: Alt;
  font-size: 2vw;
  margin-right: 1%;
  width: 5vw;
  height: 5vh;
  border-radius: 1vw;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5vw 10vh -2vw, rgba(0, 0, 0, 0.3) 0 3vw 6vh -3vw, rgba(10, 37, 64, 0.35) 0px -0.2vw .6vh 0 inset;
}
.size-choice:hover{
  cursor: pointer;
  color: var(--white);
  background-color: var(--very-dark-blue);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10vw 20vh -4vw, rgba(0, 0, 0, 0.3) 0 6vw 12vh -6vw, rgba(10, 37, 64, 0.35) 0px -0.4vw 1.2vh 0 inset;
}
.size-choice:active{
  color: var(--white);
  background-color: var(--turquoise);
}
[cursor="0"]:hover{
  cursor: default;
}
.enter-fullscreen{
  width: 2vw;
  font-style: Alt;
  line-height: 0.8;
  overflow-wrap: break-word;
  position: relative;
  right: -10%;
  color: var(--white);
}
#size-choice-4-1:hover{
  cursor: pointer;
  background-color: white;
  color: var(--very-dark-blue);
}
#size-choice-4-1:hover .enter-fullscreen{
  color: var(--very-dark-blue);
}
#size-choice-4-1 .enter-fullscreen{
  font-size: 0.7vw;
  width: 1.4vw;
  line-height: 0.8;
  top: -25%;
  height: 3vh;
}
#size-choice-4-2:hover{
  cursor: pointer;
  background-color: white;
  color: var(--very-dark-blue);
}
#size-choice-4-2 .enter-fullscreen{
  font-size: 0.9vw;
  width: 1.8vw;
  line-height: 0.8;
  top: -35%;
}
#size-choice-4-2:hover .enter-fullscreen{
  color: var(--very-dark-blue);
}
#size-choice-4-3:hover{
  cursor: pointer;
  background-color: white;
  color: var(--very-dark-blue);
}
#size-choice-4-3 .enter-fullscreen{
  font-size: 1vw;
  width: 1.8vw;
  line-height: 0.8;
  top: -30%;
}
#size-choice-4-3:hover .enter-fullscreen{
  color: var(--very-dark-blue);
}
.exit-fullscreen{
  width: 1.6vw;
  font-size: 0.8vw;
  font-style: Alt;
  line-height: 1;
  overflow-wrap: break-word;
  color: var(--white);
  height: 4vh;
  top: -40%;
  left: 10%;
  position: relative;
}
#size-choice-4-1{
  position: absolute;
  right: 35%;
  top: 47.6%;
  width: 4vw;
  height: 3.5vh;
  border: 0;
  padding: 0;
  border-radius: 0 0 2vw 0vw;
  background-color: var(--gray);
}
#size-choice-4-2{
  position: absolute;
  right: 25%;
  top: 67.4%;
  width: 4vw;
  height: 3.8vh;
  border: 0;
  padding: 0;
  border-radius: 0 0 1vw 0vw;
  background-color: var(--gray);
}
#size-choice-4-3{
  position: absolute;
  right: 15%;
  bottom: 8.9%;
  border-radius: 0 0  0.5vw 0;
  border: 0;
  padding: 0;
  background-color: var(--gray);
  width: 4vw;
  height: 4vh;
}
#size-choice-4-3 .enter-fullscreen{
  top: -38%;
}
#size-choice-4-4{
  display: none;
}
.sizes-header{
  font-size: 2vw;
  line-height: 0;
}
.zoom-response{
  font-size: 2vw;
  line-height: 0;
}
.zoom-single-video-page1{
  width: 80vw;
  height: 85vh;
  border: 0.3vw;
  border-color: var(--light-blue);
  background-color: var(--teal-blue);
  border-style: ridge;
  border-radius: 1vw;
}
.zoom-single-video-page2 #size-choice-4-1{
  top: 37%;
}
.zoom-single-video-page2 #size-choice-4-2{
  top: 56.7%;
}
.zoom-single-video-page2 #size-choice-4-3{
  top: 76.5%;
}
.zoom-single-video-page{
  width: 80vw;
  height: 85vh;
  border: 0.3vw;
  border-color: var(--light-blue);
  background-color: var(--teal-blue);
  border-style: ridge;
  border-radius: 1vw;
}
.zoom-single-video-page2{
  width: 100vw;
  height: 100vh;
  background-color: var(--teal-blue);
  position: absolute;
  top: 0;
  left: 0;
}

.video-placeholder1{
  border-radius: 2vw;
  width: 30vw;
  height: 30vh;
}
.video-placeholder2{
  border-radius: 1vw;
  width: 50vw;
  height: 50vh;
}
.video-placeholder3{
  border-radius: 1vw;
  width: 70vw;
  height: 70vh;
}
.video-placeholder-inception{
  width: 80vw;
  height: 85vh;
}
.video-placeholder4{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
.zoom-video-close-fullscreen-button{
  background-color: var(--gray);
  border: 0 transparent;
  position: fixed;
  right: 1%;
  bottom: 0.5%;
  width: 2.7vw;
  height: 3vh;
  z-index: 10;
}
.zoom-video-close-fullscreen-button:hover{
  cursor: pointer;
  background-color: white;
}
.zoom-video-close-fullscreen-button:hover .exit-fullscreen{
  color: var(--very-dark-blue);
}
/*--------------------------------------------------------------------------TRAD-ART-------------------------------------------------*/

.zoom-single-trad-page1{
  width: 80vw;
  height: 90vh;
  top: 5%;
  left: 10%;
  border: 0.6vh;
  border-color: var(--light-blue);
  background-color: var(--teal-blue);
  border-style: ridge;
  border-radius: 1vw;
  position: absolute;
}


.zoom-single-trad-page2{
  width: 100vw;
  height: 100vh;
  background-color: var(--teal-blue);
  position: absolute;
  top: 0;
  left: 0;
}

.zoom-page-settings-bar-trad1{
  right: -28.5%;
  top: 5%;
  width: 20vw;
  border-radius: 0 0.8vw 0 0;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.zoom-page-settings-bar-trad2{
  right: -38%;
  top: 0%;
  width: 20vw;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.zoom-page-settings-bar-trad1:hover, .zoom-page-settings-bar-trad2:hover{
  background-color: var(--light-blue-semi);
}
.size-choices1{
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  width: 30vw;
  height: 8vh;
  padding: 0.5vh 1vw;
  color: var(--white);
  background-color: transparent;
}
.size-choices1:hover{
  color: var(--very-dark-blue);
  background-color: var(--white-semi);
}
.trad-placeholder11{
  border-radius: 2vw;
  min-height: 50vh;
  max-height: 60vh;
}
.trad-placeholder21{
  border-radius: 2vw;
  max-height: 80vh;
}
.trad-placeholder12{
  border-radius: 2vw;
  height: 70vh;
}
.trad-placeholder22{
  border-radius: 2vw;
  height: 90vh;
  z-index: 10;
}
.zoom-response-trad11{
  font-size: 2vw;
  line-height: 0;
  bottom: 10%;;
  left: 36%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-trad21{
  font-size: 2vw;
  line-height: 0;
  bottom: 0%;;
  left: 36%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-trad12{
  font-size: 2vw;
  line-height: 0;
  bottom: 8%;;
  left: 38%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-trad22{
  font-size: 2vw;
  line-height: 0;
  bottom: 0%;;
  left: 38%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
/*--------------------------------------------------------------------------ZOOM-DIGITAL ART-----------------------------------------------*/

.zoom-single-d-art-page1{
  width: 80vw;
  height: 90vh;
  top: 5%;
  left: 10%;
  border: 0.6vh;
  border-color: var(--light-blue);
  background-color: var(--teal-blue);
  border-style: ridge;
  border-radius: 1vw;
  position: absolute;
}


.zoom-single-d-art-page2{
  width: 100vw;
  height: 100vh;
  background-color: var(--teal-blue);
  position: absolute;
  top: 0;
  left: 0;
}

.zoom-page-settings-bar-d-art1{
  right: -28.5%;
  top: 5%;
  width: 20vw;
  border-radius: 0 0.8vw 0 0;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.zoom-page-settings-bar-d-art2{
  right: -38%;
  top: 0%;
  width: 20vw;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.zoom-page-settings-bar-d-art1:hover, .zoom-page-settings-bar-d-art2:hover{
  background-color: var(--light-blue-semi);
}
.size-choices2{
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  width: 30vw;
  height: 8vh;
  padding: 0.5vh 1vw;
  color: var(--white);
  background-color: transparent;
}
.size-choices2:hover{
  color: var(--very-dark-blue);
  background-color: var(--white-semi);
}
.d-art-placeholder11{
  border-radius: 2vw;
  min-height: 50vh;
  max-height: 60vh;
}
.d-art-placeholder21{
  border-radius: 2vw;
  max-height: 80vh;
}
.d-art-placeholder12{
  border-radius: 2vw;
  height: 70vh;
}
.d-art-placeholder22{
  border-radius: 2vw;
  height: 90vh;
  z-index: 10;
}
.zoom-response-d-art11{
  font-size: 2vw;
  line-height: 0;
  bottom: 10%;;
  left: 36%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-d-art21{
  font-size: 2vw;
  line-height: 0;
  bottom: 0%;;
  left: 36%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-d-art12{
  font-size: 2vw;
  line-height: 0;
  bottom: 8%;;
  left: 38%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-d-art22{
  font-size: 2vw;
  line-height: 0;
  bottom: 0%;;
  left: 38%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
/*--------------------------------------------------------------------------MANGA------------------------------------------------------*/
.zoom-single-manga-page1{
  width: 80vw;
  height: 90vh;
  top: 5%;
  left: 10%;
  border: 0.6vh;
  border-color: var(--light-blue);
  background-color: var(--teal-blue);
  border-style: ridge;
  border-radius: 1vw;
  position: absolute;
}


.zoom-single-manga-page2{
  width: 100vw;
  height: 100vh;
  background-color: var(--teal-blue);
  position: absolute;
  top: 0;
  left: 0;
}

.zoom-page-settings-manga-art1{
  right: -28.5%;
  top: 5%;
  width: 20vw;
  border-radius: 0 0.8vw 0 0;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.zoom-page-settings-manga-art2{
  right: -38%;
  top: 0%;
  width: 20vw;
  padding: 0.5vw 1.5vw 0.5vw 2.5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}
.zoom-page-settings-bar-manga1:hover, .zoom-page-settings-bar-manga2:hover{
  background-color: var(--light-blue-semi);
}
.size-choices3{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 8vh;
  left: 0%;
  padding: 0.5vh 1vw;
  color: var(--white);
  background-color: transparent;
}
.size-choices3:hover{
  color: var(--very-dark-blue);
  background-color: var(--white-semi);
}
.manga-placeholder11{
  margin-top: 5vh;
  border-radius: 2vw;
  min-height: 50vh;
  max-height: 80vh;
}
.manga-placeholder21{
  margin-top: 1vh;
  border-radius: 2vw;
  max-height: 88vh;
}
.manga-placeholder12{
  margin-top: 5vh;
  border-radius: 2vw;
  height: 90vh;
}
.manga-placeholder22{
  border-radius: 2vw;
  height: 100vh;
  z-index: 10;
}
.zoom-response-manga11{
  font-size: 2vw;
  line-height: 0;
  bottom: 10%;;
  left: 36%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-manga21{
  font-size: 2vw;
  line-height: 0;
  bottom: 0%;;
  left: 36%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-manga12{
  font-size: 2vw;
  line-height: 0;
  bottom: 8%;;
  left: 38%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.zoom-response-manga22{
  font-size: 2vw;
  line-height: 0;
  bottom: 0%;;
  left: 38%;
  background-color: var(--gray);
  padding: 2%;
  z-index: 10;
  color: var(--white);
  position: absolute;
}
.prev-page11, .prev-page12, .prev-page21, .prev-page22, .next-page11, .next-page12, .next-page21, .next-page22{
  width: 3vw;
}
.prev-page11:hover, .prev-page12:hover, .prev-page21:hover, .prev-page22:hover, .next-page11:hover, .next-page12:hover, .next-page21:hover, .next-page22:hover{
  background-color: var(--white);
  color: var(--very-dark-blue);
}
.prev-page11:active, .prev-page12:active, .prev-page21:active, .prev-page22:active, .next-page11:active, .next-page12:active, .next-page21:active, .next-page22:active{
  color: var(--white);
  background-color: var(--gray);
}
.prev-page11{
  position: absolute;
  top: 40%;
  left: 29%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.prev-page12{
  position: absolute;
  top: 40%;
  left: 31.5%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.prev-page21{
  position: absolute;
  top: 40%;
  left: 27.2%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.prev-page22{
  position: absolute;
  top: 40%;
  left: 27%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.next-page11{
  position: absolute;
  top: 40%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.next-page12{
  position: absolute;
  top: 40%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.next-page21{
  position: absolute;
  top: 40%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
.next-page22{
  position: absolute;
  top: 40%;
  height: 20vh;
  font-family: Alt;
  font-size: 3vw;
  border: 0;
  background-color: var(--dark-blue);
  color: var(--white);
}
/*--------------------------------------------------------------------------SETTINGS-------------------------------------------------*/

#color-one, #color-two, #color-three, #color-four{
  width: 4vw;
  height: 4vh;
}
#color-one:hover, #color-two:hover, #color-three:hover, #color-four:hover{
  cursor: pointer;

}
.palette1, .palette2{
  margin-top: 6vh;
}
.palette1, .palette2, .palette3, .palette4{
  z-index: 10;
  position: relative;
  width: 12vw;
  font-size: 2vw;
}
.color-two-label, .color-three-label, .color-four-label{
  margin-left: -10%;
}
.color-one-label:hover, .color-two-label:hover, .color-three-label:hover, .color-four-label:hover{
  cursor: pointer;
}
.settings-window-title1{
  left: 15%;
  top: -5%;
  position: absolute;
}
.settings-window-title2{
  left: 15%;
  top: -5%;
  position: absolute;
}

/*--------------------------------------------------------------------------404 SCREEN -----------------------------------------------*/

.error-screen{
  width: 100vw;
  height: 100vh;
  background-color: black;
}