@font-face {
  font-family: Alt;
  src: url(../src/fonts/brush-type-bg-font.ttf);
}
body {      
  margin: 0;
  font-family: Alt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
  table {
    width: 10vw;
  }
}