.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.search-tag{ /*-------------------------------------------Logo----------------*/
  margin-top: 0.5vh;
  font-size: 2vw;
  margin-left: 6vw;
  color: #ffea4dce;
  font-family: "Brush Script MT";
}
.search-container{
  margin-top: 1vh;
  margin-left: 50vw;
  display: table;
  width: 30vw;
  position: absolute;
  left: 15%;
  top: 0;
}
div.cell{
  display: table-cell;
}
div.cell:last-child {
  /* Makes sure this cell is only wide enough
     for the button label. */
  width: 0.01vw;
}


input[type=search], div.search-button {  
  width: 100%;
  height: 4vh;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  font-family: inherit;
  font-size: inherit;
}

input[type=search] {
  margin: 0;
  padding: 0 0.5vw;
  
  background-color: #f8f8f8;
  
  border: 0;
}

div.search-button {
  line-height: 4vh;

  margin: 0;
  padding: 0 2vh;

  color: #fff;
  background-color:  #ffea4dce;
  font-weight: bold;
  
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  
  white-space: nowrap;
}
.search-button:hover{
  background-color: #BB2020;
  cursor: pointer;
}

.search-category{
  border-radius: 2vh;
  height: 3.5vh;
  font-size: 2vh;
}
.header{
  display: flex;
  flex-direction: row;
  background-color: #06111C;
  padding-bottom: 1vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------------Login screen ------------------------------*/
.login-screen{
  background-color: #0a5555a9;
  height: 93.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-window{
  border-radius: 1vw;
  display: block;
  background-color: rgb(255, 255, 255);
  height: 78vh;
  width: 35vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-button{
  background-color:  #04AA6D;
  border: none;
  border-radius: 1vh;
  height: 4vh;
  width: 50%;
  margin-top: 8vh;
  font-size: 2vh;
  margin-left: 25%;
}
.login-button:hover{
  background-color: brown;
  cursor: pointer;
}
.register-redirection{
  background-color: #04AA6D;
  height: 3.5vh;
  margin-top: 10%;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border:none;
}
.register-redirection:hover{
  background-color: brown;
  cursor: pointer;
}
.intro-div{
  background-color: rgba(137, 43, 226, 0.171);
  height: 78vh;
  width: 15vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#login-screen-label{
  font-size: 5vh;
}
.login-placeholder{
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.login-duo{
  margin-bottom: 2vh;
  font-size: 3vh;
  padding: 0 2vh;
}

.login-input{
  width: 30vw;
  height: 4vh;
  font-size: 2vh;
  padding: 0 2vh;
}

.login-form{
  background-color: #04aa6d9a;
  border-radius: 2vh;
  padding-top: 4vh;
}
.above {
  position: absolute;
  top: 80%;
  font-size: 2vh;
}
/*---------------------------------------------------------FOOTER------------------------------------*/
.footer{
  position: absolute;
  top: 94%;
  background-color: rgba(182, 182, 182, 0.658);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-link{
margin-left: 5vw;
}
/*---------------------------------------------------------REGISTER SCREEN ---------------------------------*/
.reg-screen{
  background-color: #0a5555a9;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-window{
  border-radius: 1vw;
  display: block;
  background-color: rgb(255, 255, 255);
  height: 78vh;
  width: 60vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-button{
  background-color:  #04AA6D;
  border: none;
  border-radius: 1vh;
  height: 4vh;
  width: 40%;
  margin-top: 8vh;
  font-size: 2vh;
  margin-left: 24%;
}
.reg-button:hover{
  background-color: brown;
  cursor: pointer;
}
.login-redirection{
  background-color: #04AA6D;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border:none;
  position: absolute;
  top: 82%;
  height: 3.5vh;
  width: 4vw;
}
.login-redirection:hover{
  background-color: brown;
  cursor: pointer;
}
#reg-screen-label{
  font-size: 5vh;
}
.reg-placeholder{
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.reg-box{
  width: 20%;
  margin-bottom: 2vh;
  font-size: 3vh;
  padding: 0 2vh;
  margin-left: 1vw;
}

.reg-input{
  width: 20vw;
  height: 4vh;
  font-size: 2vh;
  padding: 0 2vh;
}

.reg-form{
  width: 85%;
  height: 70%;
  background-color: #04aa6d9a;
  border-radius: 2vh;
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.above {
  position: absolute;
  top: 80%;
  font-size: 2vh;
}
#email-div1{
  margin-bottom: 3vh;
}
#password-div1, #repeat-div1{
  margin-left: 10vw;
}

.reg-response{
  position: absolute;
  top:75%;
  left: 55%;
  width: 15vw;
  font-size: 2vh;
  border-radius: 1vw;
  word-wrap: break-word;
}
.above1{
  margin: 0 auto;
  margin-left: 0.7vw;
  color: #ffffffda;
}

.tooltiptext{
  padding: 2vh;
  border-radius: 1vh;
  background-color: #555;
  content: "";
  color: white;
  position: absolute;
  top: 28%;
  left: 13%;
  font-size: 2vh;
  width: 20vh;
  transition: opacity .6s;
}

.tooltiptext::after{
  content: "";
  display: block;
  position: absolute;
  margin-top: 0.8vh;
  left: 91%;
  width: 0;
  height: 0;
  top: 70%;
  border-width: 2vh 2vh 2vh 2vh;
  border-style: solid;
  border-color:  #555 transparent transparent transparent;
}
/*---------------------------------------------------HOME SCREEN----------------------------*/

.home-screen{
  background-color: #0a5555a9;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.home-window{
  border-radius: 1vw;
  position: absolute;
  background-color: rgb(231, 231, 231);
  top: 7%;
  height: 87vh;
  width: 60vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.logout{
  position: absolute;
  top: 1.5%;
  left:96%;
  background-color: white;
  border: none;
  border-radius: 1vh;
  height: 3vh;

}

.logout:hover{
  background-color: yellow;
  cursor: pointer;
}

/*---------------------------------------------------------ABOUT SCREEN ------------------------------------------*/
.about-header{
  left: 40%;
}
.tooltiptext1{
  padding: 2vh;
  border-radius: 1vh;
  background-color: #555;
  content: "";
  color: white;
  position: absolute;
  top: 49%;
  left: 34%;
  font-size: 2vh;
  width: 20vh;
  transition: opacity .6s;
  text-align: center;
  visibility: hidden;
}
.tooltip1:hover .tooltiptext1{
  visibility: visible;
}
.tooltiptext1::after{
  content: "";
  display: block;
  position: absolute;
  margin-top: 0.8vh;
  left: 91%;
  width: 0;
  height: 0;
  top: 50%;
  border-width: 2vh 2vh 2vh 2vh;
  border-style: solid;
  border-color:  #555 transparent transparent transparent;
}

.about-screen{
  background-color: #0a5555a9;
  height: 93.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-window{
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  height: 78vh;
  width: 35vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-data{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-text{
  width: 60%;
  word-wrap:break-word;
}

.about-goback{
  padding: 1vh;
}
.about-goback:hover{
  color:#04AA6D;
  cursor: pointer;
}
.authenticate {
  display: none;
}

/*-----------------------------------------------------SINGLE POST -----------------------------------*/
.single-post{
  display: block;
  height: 100%;
  width: 97%;
  background-color: #0a55553f;
  border-radius: 2vh;
}
.user-link{
  margin-left: 5%;
  font-size: 3vh;
  color: black;
}
.post-user-section{
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  background-color: #0a55555d;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 5vh;
}
.post-post-section{
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  width: 98%;
  margin-left: 1%;
  background-color: rgba(255, 255, 255, 0.863);
  height: 30vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
}
.single-post-text{
  margin-left: 3%;
  padding-top: 2%;
}
.single-post-title{
  font-size: 1.5vh;
  color: rgba(0, 0, 0, 0.747);
  background-color: rgba(128, 128, 128, 0.445);
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  text-align: center;
}

.single-post-text1{
  margin-top: -2%;
  margin-left: 0.1%;
  padding: 2%;
  width: 95.5%;
  height: 60%;
  font-size: 2vh;
  top: -40%;
  z-index: 2;
}
.post-comment-section{
  width: 98%;
  margin-left: 1%;
  margin-top: 0.5%;
  z-index: 0;
  background-color: rgb(134, 103, 103);
  height: 10vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
}

.delete-post-button{
  font-size: 2.5vh;
  margin-left: 78%;
}
.delete-post-button:hover{
  color: #BB2020;
  cursor: pointer;
  background-color: gray;
}


.update-post-button{
  z-index: 4;
  font-size: 2.5vh;
  margin-left: 1%;
}
.update-post-button:hover{
  color: #BB2020;
  cursor: pointer;
  background-color: gray;
}
.update-button-div{
  margin-top: -0.5%;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
}
.update-post-button1{

  height: 3vh;
  font-size: 2.5vh;
  margin: 0 auto;
}
.update-post-button1:hover{
  color: #BB2020;
  cursor: pointer;
  background-color: gray;
}
/*-----------------------------------------------------NEWS FEED --------------------------------------*/
.post-creation{
  width:97%;
  height: 45%;
  background-color: white;
  border-radius: 1vh;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.post-request-label{

  margin: 0 auto;
  margin-top: 1%;
  font-size: 1.5vw;
  width: 95.5%;
  background-color: rgba(188, 226, 222, 0.479);
  border-radius: 1vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.title-post{
  margin-top: 1%;
  font-size: 3vh;
  width: 90%;
  height: 3vh;
  padding-left: 5%;
  border: solid;
  border-color: black;
  margin-left: 2.3%;
  border-radius: 1vh;
  border-width: 0.3vh;
  background-color: rgba(188, 226, 222, 0.479);
}
.content-post{
  margin-left: 2.3%;
  margin-top: 1%;
  width: 93%;
  font-size: 2vh;
  padding: 1%;
  height:15vh;
  border: solid;
  border-width: 0.3vh;
  background-color: rgba(188, 226, 222, 0.479);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.post-request-send{
  width: 96%;
  margin-left: 2%;
  height: 5vh;
  border: none;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  background-color: rgba(0, 255, 34, 0.507);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: white;
  font-size: 2vh;
}
.post-request-send:hover{
  color: black;
  cursor: pointer;
  background-color: rgb(0, 255, 34);
}
.tooltip2{
  position: absolute;
  top: -10%;
  left: 25%;
  font-size: 3vh;
  background-color: black;
  color: white;
  border-radius: 2vh;
}

/*--------------------------------------------------------------- SINGLE USER -------------------------*/
.single-profile-nick{
  background-color: green;
}

.single-profile-fname{
  background-color: greenyellow;
}
.single-profile-lname {
  background-color: grey;
}